<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projeto_exercicio01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projetoexercicio01" >

        <activity android:name=".PrimeiraAtividade"
                  android:label="Exercicio 1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name=".SegundaAtividade"
                  android:label="Exercicio 1">
        </activity>
        <activity android:name=".TerceiraAtividade"
                  android:label="Exercicio 1">
        </activity>

    </application>
</manifest>